@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Lato:wght@300&family=Montserrat:ital@1&family=Roboto&family=Source+Sans+Pro:wght@300&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Aboreto', cursive;
}
body {
  background-image: url('./images/backgroud.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}
form {
  width: auto;
  margin: 5%;

  border: 1px solid black;
  border-radius: 5px;
  padding: 2em;
  display: inline-block;
  box-shadow: 11px 9px 7px 8px rgb(0, 0, 0);
}
input {
  line-height: 2em;
  width: 80%;
}
label {
  line-height: 4em;
}
h1.uvodni-nadpis {
  color: #bd48bd;
  text-shadow: 1px 1px 1px black;
  margin-top: 2em;
  font-size: 2.5em;

  font-weight: 800;

  text-align: center;
}
h2,
h3 {
  text-align: center;
}
p {
  text-align: center;
  margin: 1.5em;
  font-weight: 700;
}
button {
  margin-top: 1em;
  padding: 0.5em;
  font-weight: 800;
  background-color: #f59df5;
}
